<html>
    <body>
        <form action="/formprocess" method="post">
            no 1. <input type="text" name="txt1" required>
            no 2. <input type="text" name="txt2" required>
            <input type="submit" >

        </form>
    </body>
</html>
